h1 {
  color: red;
}

p {
  font-size: 21px;
  font-weight: bold;
}

ul ul h2 {
  color: red;
  background-color: pink;
}

ul ul h2 {
  color: blue;
}

/* .section{
    background-color:red;
}

#articles{
    background-color:green;
} */

#first-article {
  color: red;
}

li.article-item {
  color: pink;
}

.article-item {
  color: green;
}
